.dashboardContainer {
  padding: 16px; /* Optional padding around the container */
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px 0px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  overflow: hidden;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px 0px;
    transform: translateY(-4px);
  }
}

.cardIcon {
  font-size: 64px; /* Adjust size as needed */
  color: #1976d2; /* Use your desired color */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px; /* Same height as the CardMedia */
}

.cardContent {
  padding: 16px; /* Optional padding inside the card content */
}

.dashboardSelect {
  margin: 8px 0; // Add margin to ensure space around the element
  width: 100%; // Ensure the select takes full width

  .MuiInputBase-root {
    background-color: #fff; // Background color for the input
    border-radius: 4px; // Rounded corners
  }

  .MuiOutlinedInput-notchedOutline {
    border-color: rgba(0, 0, 0, 0.23); // Default border color
  }

  .Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #3f51b5; // Primary color for focused state
  }

  .MuiMenuItem-root {
    font-size: 14px; // Adjust font size for menu item
  }
}

